#contenedor{
	position: relative;
	width: 100%;
	height: auto;
}

#canvas{
    position: absolute;
    left: calc(50% - 150px);

}
h1{
    text-align: center;
}
#div-asnwer{

    margin-top: 100px;
    text-align: center;

}

.input-group{
	width:350px;
	margin:auto;
}

.input-group>label{
	height:auto;
}

.equation {
	font-family:times new roman;
	font-size:120%;
	font-style: italic;
}

.fraccion{
	display:inline-block;
	vertical-align:middle;
	letter-spacing:0.01em;
	text-align:center;
}
.fraccion>span{
	display:block;
	padding:0.2em;
	
}
.fraccion>span:last-child{
	border-top:thin solid black;
}

.radicando { 
	padding: 0.5ex;
	border-top: thin black solid;
	padding-top:0;
}
.raiz {
	vertical-align:top;
	font-size:1.7em;
	letter-spacing:-12px;
}
.nroot{
	position: relative;
	vertical-align:top;
	left: 1.9ex;
	font-size: 45%;
}