#contenedor{
    position: relative;
    width: 100%;
    height: auto;
}

@media (max-width: 767px) { h1{ font-size:20px !important; } }#canvas{
    position: absolute;
    left: calc(50% - 150px);

}
h1{
    text-align: center;
}
#div-asnwer{

    margin-top: 100px;
    text-align: center;

}
#answer{
    width: 100px;
    display: inline-block;
}


table{
    text-align: left;
}




