#table-forum .information {
    margin-top: 10px;
    color: #888;
}

.info-date {
    font-size: 14px;
    margin-bottom: 10px;
}

#div-forum i.fa {
    color: rgb(166, 166, 166);
    cursor: pointer;
    font-size: 16px;
}
#div-forum i.fa:hover {
color: #03658c;
}

span.monitor {
    color: #e74c3c;
    font-size: 14px;
    font-weight: 700;
    top:0px;
    margin-right: 4px;
}