html, body {
    height: 100%;
}

body {
    font-family: "Lato";

    font-size: 16px;
    color: #222;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

.section-title {
    margin: 0 0 30px;
    text-align: center;
    position: relative;
}

.section-title:after {
    content: "";
    display: block;
    height: 1px;
    background: #f5f5f5;
    position: absolute;
    top: 20px;
    width: 100%
}

.section-title span {
    background: #fff;
    padding: 0 10px;
    z-index: 1;
    position: relative;
}

#menu {
    background: #438eb9;
    border-radius: 0;
    border-color: #0d6085;
    background: #0d6085 url("http://mooc.org/assets/images/bg-mast.png") 0 0 repeat;
}

#menu .navbar-nav > li > a {
    color: #FFFFFF;
}

#menu .navbar-nav > li > a:hover, #menu .navbar-nav > li > a:focus, #menu .navbar-nav > li.open > a {
    background: rgba(135, 183, 210, .4);
}

#menu .navbar-nav > .active > a, #menu .navbar-nav > .active > a:hover, #menu .navbar-nav > .active > a:focus {
    background-color: #87B7D2;
}

@media (max-width: 767px) {
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #87B7D2;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }
}

#contenedor {
    min-height: calc(100% - 142px);

}



footer {
    min-height: 70px;
    color: white;
    background: #0d6085 url("http://mooc.org/assets/images/bg-mast.png") 0 0 repeat;
}

#escudo-un {
    margin-top: 5px;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.social li > a {
    margin-top: 22px;
    display: block;
    width: 30px;
    height: 30px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    line-height: 30px;
    vertical-align: middle;
    color: #888;
    border-bottom: 2px solid transparent;
    text-align: center;
}

input:required + .popover, select:required + .popover, textarea:required + .popover {
    background: #d15b47;
    color: #fff;
}

input:required + .popover.bottom > .arrow:after, input:required + .popover.top > .arrow:after, select:required + .popover.bottom > .arrow:after,textarea:required + .popover.bottom > .arrow:after {
    border-bottom-color: #d15b47;
    border-top-color: #d15b47;
}

.alert [data-growl="message"] {
    margin-right: 20px;
}

.alert-success {
    background-color: #00bc8c;
    border-color: #00bc8c;
    color: #ffffff;
}

.alert-danger {
    background-color: #d15b47 !important;
    border-color: #d15b47;
    color: #ffffff;
}

#cover-display {
    position: fixed;
    top: 0;
    left: 0;
    background: #444;
    background: rgba(68, 68, 68, 0.95);
    overflow: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1500;
}

#img-loading {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}

.btn-primary {
    color: #fff;
    background-color: #7daa50 !important;
    border-color: #7daa50;
}

.btn-primary:hover, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
    background-color: #87b87f !important;
    border-color: #7daa50
}
#global-authorization .social-login .facebook {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all all 200ms ease-out;
    -moz-transition: all all 200ms ease-out;
    transition: all all 200ms ease-out;
    background-color: #324d8f;
    font-size: 20px;
    color: #fff;
    padding: 0 0 0 15px;
    font-size: 16px;
    width: 100% !important;
    font-size: 14px !important;
    margin: 0 auto 10px;
    display: block !important;
}
#avatar-header{
    margin-right: 10px;
    margin-left: 10px;
}
#avatar-header img{
    margin-top: 7px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 155px;
    height: 34px;
    filter: alpha(opacity=0);
    opacity: 0;
    display: block;
    cursor: pointer;
}


#logo{
margin-right: 20px;
}
.text-muted.name-course{
    font-size: 25px;
    color:#BDB3B3;
}

#loadmoreajaxloader{
    text-align: center;
    z-index: 100;
    position: fixed;
    left: 45%;
    bottom: 40px;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.link{
    color:#03658c;
}