#iframe-container, #video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.9);
    z-index: 1000;
}

#iframe-container.hide, #video-container.hide {
    display: none;
}

#iframe-container .panel {
    margin-top: 10px;
    margin-bottom: 50px;
    height: auto;
}

#video-container .panel {
    margin-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#iframe-container iframe {
    min-height: 600px;
    width: 100%;
    border: none;
}

#panel-iframe-title, #panel-video-title {
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}

.btn-close {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    margin-top: -4px;
    transition: all 0.5s ease;
}

.btn-close:hover {
    background: #e74c3c;
}

#materials-div .estrellas {
    display: inline-block;

}

#materials-div .text-muted {
    margin: 0 15px 0 3px;
}

#materials-div .fa-check {
    margin-left: 10px;
}

#materials-div .panel-body, #ranking-div .panel-body, #quizzes-div .panel-body {
    overflow: auto;

}

#quizzes-div .quiz-div {
    width: 100px;
    height: 110px;
    display: inline-block;
    margin: 10px 20px 10px 20px;
    background: url('../images/course/pergamino.png') no-repeat;
    background-size: 100%;
    position: relative;
    color:#444;
}
#quizzes-div .quiz-launcher {
    height: 100%;
}
#quizzes-div .quiz-launcher:not(.disabled) {
    cursor: pointer;
}
#quizzes-div .jump-quiz {
    position: absolute;
    width: 30px;
    height: 30px;
    top:40px;
    right: -35px;
    display: inline-block;
}


#quizzes-div .quiz-div .quiz-name {
    position: absolute;
    font-size: 30px;
    left: 18px;
    top: 15px;
    display: inline-block;
}

#quizzes-div .quiz-div .quiz-attempts {
    position: absolute;
    right: 17px;
    top: 20px;
    display: inline-block;
    font-size: 14px;
}

#quizzes-div .quiz-div .quiz-score {
    position: absolute;
    right: 17px;
    top: 45px;
    display: inline-block;
    font-size: 14px;
}
#quizzes-div .quiz-div .quiz-score img {
    margin-top: -5px;
    margin-left: 1px;
}
#quizzes-div .quiz-div .quiz-best-time {
    position: absolute;
    right: 18px;
    top: 70px;
    display: inline-block;
    font-size: 14px;
}
#quizzes-div .quiz-div .quiz-best-time img {
    margin-top: -5px;
    margin-left: 2px;
}
#quizzes-div .quiz-div .quiz-best-time-ever {
    position: absolute;
    right: -10px;
    top: -10px;
    display: inline-block;
}
#quizzes-div .quiz-div .quiz-status {
    position: absolute;
    right: 30px;
    top: -17px;
    display: inline-block;
    font-size: 25px;
}
#quizzes-div .quiz-div .quiz-status .fa-check{
   color:rgb(47, 137, 94);
}